.container {
  width: 600px;
  height: 100%;
  margin-top: 200px;
  margin: auto;
}

.container div {
  margin-bottom: 20px;
}

.container button {
  padding: 0 5px;
}

.container h2 {
  margin: 10px 0;
}

.container ul li {
  font-size: 20px;
  margin: 5px;
}

.container hr {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
